
/* View CSS */

#roadmap-learningobjective-container {
    margin: 20px 0;
}

#roadmap-learningobjective-container .learningobjective {
    margin: 5px 0;
    display: flex;
    align-items: stretch;
}

#roadmap-learningobjective-container .learningobjective .prefix {
    white-space: nowrap;
    margin: 0 5px;
    align-items: stretch;
}

#roadmap-learningobjective-container .learningobjective .name {
    align-items: stretch;
}

/* -- Phase */
#roadmap-phase-container .roadmap-phase {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px 5px 10px;
    margin: 20px 0;
    border-left: 10px solid #c0c0c0;
}

#roadmap-phase-container .roadmap-phase h2.roadmap-phase-title {
    margin: 0;
    font-weight: normal;
    vertical-align: middle;
}

#roadmap-phase-container .roadmap-phase .roadmap-cycle-container {
    display: block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
}

/* -- Phase -- Cycle */
#roadmap-phase-container .roadmap-phase .roadmap-cycle {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 20px 20px 20px 0;
}

#roadmap-phase-container .roadmap-phase .roadmap-cycle .roadmap-cycle-title {
    display: block;
    position: relative;
    padding: 0;
    margin: 3px 0;
    font-size: 18px;
    font-weight: normal;
    background-color: transparent;
    height: 27px;
}

#roadmap-phase-container .roadmap-phase .roadmap-cycle .roadmap-cycle-subtitle {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #888;
    height: 21px;
}

#roadmap-phase-container .roadmap-phase .roadmap-cycle .roadmap-step-row {
    display: block;
    position: relative;
    padding: 0;
    margin: 10px 0 5px 0;
    height: 38px;
}

#roadmap-phase-container .roadmap-phase .roadmap-cycle .roadmap-topic-row {
    display: block;
    position: relative;
    width: 100%;
    height: 10px;
    box-sizing: border-box;
    border: 2px solid #c0c0c0;
    border-top: none;
    border: none;
    background-color: transparent;
}

#roadmap-phase-container .roadmap-phase .roadmap-cycle .roadmap-topic-row .roadmap-topic-container {
    display: block;
    position: relative;
    width: 100%;
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    height: 22px;
}

#roadmap-phase-container .roadmap-phase .roadmap-cycle .roadmap-topic-row .roadmap-topic-container .title {
    vertical-align: bottom;
    font-size: 12px;
    color: #000;
    padding-right: 3px;
    font-family: sans-serif;
}

#roadmap-phase-container .roadmap-phase .roadmap-cycle .roadmap-topic-row .roadmap-topic-container .learningobjectives {
    color: #000;
    font-size: 12px;
    font-family: sans-serif;
    vertical-align: bottom;
}

/* -- Phase -- Cycle -- Step */

#roadmap-phase-container .roadmap-phase .roadmap-cycle .roadmap-step {
    display: inline-block;
    position: relative;
    width: 38px;
    height: 38px;
    margin-right: 6px;
    padding: 3px 4px;
}

#roadmap-phase-container .roadmap-phase .roadmap-cycle .roadmap-step .icon {
    display: inline-block;
    position: relative;
    width: 27px;
    height: 27px;
    margin-right: 6px;
}

#roadmap-phase-container .roadmap-phase .roadmap-cycle .roadmap-step svg {
    width: 100%;
    height: 100%;
    /* note: overflow must now be visible - the progress circle is outside of the SVG's normal bounds */
    overflow: visible;
}

.rollover-star {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 3px 0 3px 5px;
}


#roadmap-phase-container .roadmap-phase .roadmap-cycle .roadmap-step.incomplete .icon {
    filter: grayscale(100%);
}

#roadmap-phase-container .roadmap-phase .roadmap-cycle .roadmap-step.incomplete .roadmap-background-circle {
     fill:#ccc;
}



/* Configuration CSS */

/* -- Phase */

#mformroadmap .phase-wrapper {
    padding:0 0 20px 0;
}

#mformroadmap .cycle-wrapper,
#mformroadmap .step-wrapper {
    padding:20px 0 0 100px;
}

#mformroadmap .phase-wrapper > div.row,
#mformroadmap .cycle-wrapper > div.row,
#mformroadmap .step-wrapper > div.row {
    border-bottom: 1px solid #efefef;
}

#mformroadmap .phase-container,
#mformroadmap .cycle-container,
#mformroadmap .step-container {
    padding-top: 20px;
}

#mformroadmap .phase-controls,
#mformroadmap .cycle-controls {
    float: left;
    width: 125px;
    padding-top: 6px;
}

#mformroadmap .phase-header-title,
#mformroadmap .cycle-header-title,
#mformroadmap .step-header-title {
    float: left;
    font-size: 1.2rem;
    font-weight: 400;
}

#mformroadmap .phase-header-title > span,
#mformroadmap .cycle-header-title > span,
#mformroadmap .step-header-title > span {
    color: #999;
}

#mformroadmap .phase-label {
    margin-left: 100px;
    float:left;
    width: 150px;
}

#mformroadmap ul.chk-learning-objectives {
    list-style: none;
}

#mformroadmap .step-icon-display .icon {
    width: 25px;
    height: 25px;
}

.icon-container {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 6px;
}

.icon-container img.icon {
    width: 25px;
    height: 25px;
    margin: 5px;
    color: #ff0000;
}

#step-activity-selector {
    width: 100%;
    height: 200px;
}

.scale-buttons {
    text-align: right;
    margin-top: 20px;
}
