
/* View CSS */

#roadmap-learningobjective-container {
    margin: 20px 0;
}

#roadmap-learningobjective-container .learningobjective {
    margin: 5px 0;
    display: flex;
    align-items: stretch;
}

#roadmap-learningobjective-container .learningobjective .prefix {
    white-space: nowrap;
    margin: 0 5px;
    align-items: stretch;
}

#roadmap-learningobjective-container .learningobjective .name {
    align-items: stretch;
}

/* -- Phase */
#roadmap-phase-container .roadmap-phase {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px 5px 10px;
    margin: 20px 0;
    border-left: 10px solid #c0c0c0;
}

#roadmap-phase-container .roadmap-phase h2.roadmap-phase-title {
    margin: 0;
    font-weight: normal;
    vertical-align: middle;
    cursor: pointer;
}

#roadmap-phase-container .roadmap-phase h2.roadmap-phase-title .roadmap-phase-progress-indicators {
    padding: 0;
    margin: 0;
    line-height: 15px;
    display: block;
}


#roadmap-phase-container .roadmap-phase h2.roadmap-phase-title .roadmap-phase-progress-indicators
.roadmap-phase-progress-indicator {
    display: inline-block;
    width: 16px;
    height: 8px;
    vertical-align: middle;
    margin-right: 10px;
}

#roadmap-phase-container .roadmap-phase .roadmap-cycle-container {
    display: block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
}

/* -- Phase -- Cycle */
#roadmap-phase-container .roadmap-phase .roadmap-cycle {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 15px 15px 5px 0;
    min-width: 210px;
}

#roadmap-phase-container .roadmap-phase .roadmap-cycle .roadmap-cycle-title {
    display: block;
    position: relative;
    padding: 0;
    margin: 3px 0;
    font-size: 18px;
    font-weight: normal;
    background-color: transparent;
    height: 27px;
}

#roadmap-phase-container .roadmap-phase .roadmap-cycle .roadmap-cycle-subtitle {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #888;
    height: 21px;
}

#roadmap-phase-container .roadmap-phase .roadmap-cycle .roadmap-cycle-subtitle:empty {
    display: none;
}

#roadmap-phase-container .roadmap-phase .roadmap-cycle .roadmap-step-row {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px 0 0 0;
    height: 44px;
}

#roadmap-phase-container .roadmap-phase .roadmap-cycle .roadmap-topic-row {
    display: block;
    position: relative;
    width: 100%;
    height: 24px;
    box-sizing: border-box;
    border-top: none;
    border: none;
    background-color: transparent;
}

#roadmap-phase-container .roadmap-phase .roadmap-cycle .roadmap-topic-row .roadmap-topic-container {
    display: block;
    position: relative;
    width: 100%;
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    height: 22px;
}

#roadmap-phase-container .roadmap-phase .roadmap-cycle .roadmap-topic-row .roadmap-topic-container .title {
    vertical-align: bottom;
    font-size: 12px;
    color: #000;
    padding-right: 3px;
    font-family: sans-serif;
}

#roadmap-phase-container .roadmap-phase .roadmap-cycle .roadmap-topic-row .roadmap-topic-container .learningobjectives {
    color: #000;
    font-size: 12px;
    font-family: sans-serif;
    vertical-align: bottom;
}

/* -- Phase -- Cycle -- Step */

#roadmap-phase-container .roadmap-phase .roadmap-cycle .roadmap-step {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

#roadmap-phase-container .roadmap-phase .roadmap-cycle .roadmap-step a {
    display: block;
}

#roadmap-phase-container .roadmap-phase .roadmap-cycle .roadmap-step .icon {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 0;
}

#roadmap-phase-container .roadmap-phase .roadmap-cycle .roadmap-step svg {
    width: 100%;
    height: 100%;
    /* note: overflow must now be visible - the progress circle is outside of the SVG's normal bounds */
    overflow: visible;
}

.rollover-star {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 3px 0 3px 5px;
}


/* Configuration CSS */

/* -- Phase */

#mformroadmap .phase-wrapper {
    padding: 0 0 20px 0;
}

#mformroadmap .cycle-wrapper,
#mformroadmap .step-wrapper {
    padding: 20px 0 0 100px;
}

#mformroadmap .phase-wrapper > div.row,
#mformroadmap .cycle-wrapper > div.row,
#mformroadmap .step-wrapper > div.row {
    border-bottom: 1px solid #efefef;
}

#mformroadmap .phase-container,
#mformroadmap .cycle-container,
#mformroadmap .step-container {
    padding-top: 20px;
}

#mformroadmap .phase-controls,
#mformroadmap .cycle-controls {
    float: left;
    width: 125px;
    padding-top: 6px;
}

#mformroadmap .phase-header-title,
#mformroadmap .cycle-header-title,
#mformroadmap .step-header-title {
    float: left;
    font-size: 1.2rem;
    font-weight: 400;
}

#mformroadmap .phase-header-title > span,
#mformroadmap .cycle-header-title > span,
#mformroadmap .step-header-title > span {
    color: #999;
}

#mformroadmap .phase-label {
    margin-left: 100px;
    float: left;
    width: 150px;
}

#mformroadmap #learningobjectives-container {
    padding: 0 20px 20px 20px;
}

#mformroadmap #roadmapconfiguration {
    padding: 20px 50px;
}

#mformroadmap #learningobjective-container input.learning-objective-name {
    width: 90%;
    display: inline;
    background-color: transparent;
    border-color: rgb(0 0 0 / 10%);
    margin: 0 15px;
}

#mformroadmap ul.chk-learning-objectives {
    list-style: none;
}

#mformroadmap .step-icon-display .icon {
    width: 50px;
    height: 50px;
}

#page-mod-roadmap-configuration .modal-body {
    background-color: #eee;
    min-height: 430px;
}

#page-mod-roadmap-configuration .modal-body .icon-select-container {
    background: #fff;
    padding: 10px;
    height: 100%;
}

#page-mod-roadmap-configuration .modal-body .icon-categories-container {
    height: calc(100% - 200px);
    overflow-y: scroll;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background: #fff;
}

#page-mod-roadmap-configuration .modal-body .icon-categories-container h6 {
    margin-top: 15px;
}

#page-mod-roadmap-configuration .modal-body .selected-icon-container {
    height: 200px;
}

#page-mod-roadmap-configuration .modal-body .icon-container {
    display: inline-block;
}

#page-mod-roadmap-configuration .modal-body .icon-container img.icon {
    width: 50px;
    height: 50px;
    margin: 5px;
}

#page-mod-roadmap-configuration .modal-body .icon-container img.icon:hover,
#page-mod-roadmap-configuration .modal-body .icon-container img.icon.selected {
    background-color: #ccc;
    cursor: pointer;
    outline: 1px #999 solid;
}

#page-mod-roadmap-configuration .modal-body .icon-container img.icon.selected {
    background-color: #ccc;
}

#page-mod-roadmap-configuration .modal-body .selected-icon-container span.img-incomplete,
#page-mod-roadmap-configuration .modal-body .selected-icon-container span.img-partial,
#page-mod-roadmap-configuration .modal-body .selected-icon-container span.img-alert,
#page-mod-roadmap-configuration .modal-body .selected-icon-container span.img-complete,
#page-mod-roadmap-configuration .modal-body .selected-icon-container span.img-ontime {
    position: relative;
}

#page-mod-roadmap-configuration .modal-body .selected-icon-container span.img-incomplete img,
#page-mod-roadmap-configuration .modal-body .selected-icon-container span.img-partial img,
#page-mod-roadmap-configuration .modal-body .selected-icon-container span.img-alert img,
#page-mod-roadmap-configuration .modal-body .selected-icon-container span.img-complete img,
#page-mod-roadmap-configuration .modal-body .selected-icon-container span.img-ontime img {
    font-size: 16px;
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 28px;
    box-sizing: content-box;
}

#page-mod-roadmap-configuration .modal-body .selected-icon-container svg.roadmap-star {
    pointer-events: none;
    position: absolute;
    top: -30px;
    right: 30px;
    width: 30px;
    height: 30px;
}

#step-activity-selector {
    width: 100%;
    height: 200px;
}

#activity-select-window {
    border: 1px solid #000;
    background: #fff;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 250px;
    margin-bottom: 15px;
}

#activity-select-window .section-header {
    background: #eee;
    padding: 2px 10px;
    font-weight: bold;
}

#activity-select-window .activity {
    padding: 4px 0 0 16px;
}

#activity-select-window .activity input[type="checkbox"] {
    margin: 0 5px 0 0;
}

#activity-select-window #select-expected-activity-completion {
    max-width: 300px;
}

.scale-buttons {
    text-align: right;
    margin-top: 20px;
}
