{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_roadmap/configuration_datetimepicker

    This template includes ajax functionality, so it cannot be shown in the template library.

    Example context (json):
    {
        "days": [{
            "val": "1",
            "sel": "true"
        }],
        "months": [{
            "val": "1",
            "sel": "true"
        }],
        "years": [{
            "val": "1999",
            "sel": "true"
        }],
        "hours": [{
            "val": "1",
            "sel": "true"
        }],
        "minutes": [{
            "val": "1",
            "sel": "true"
        }],
        "expectedcomplete": "true"
    }
}}
<div class="fdate_time_selector d-flex flex-wrap align-items-center">
    <div class="form-group fitem">
        <label class="col-form-label sr-only">Day</label>
        <span data-fieldtype="select">
            <select class="completionexpectedday custom-select roadmap-form-control-step">
                {{#days}}
                    <option value="{{val}}" {{#sel}}selected{{/sel}}>{{txt}}</option>
                {{/days}}
            </select>
        </span>
    </div>
    &nbsp;
    <div class="form-group fitem">
        <label class="col-form-label sr-only">
            Month
        </label>
        <span data-fieldtype="select">
            <select class="completionexpectedmonth custom-select roadmap-form-control-step">
                {{#months}}
                    <option value="{{val}}" {{#sel}}selected{{/sel}}>{{txt}}</option>
                {{/months}}
            </select>
        </span>
    </div>
    &nbsp;
    <div class="form-group fitem">
        <label class="col-form-label sr-only">
            Year
        </label>
        <span data-fieldtype="select">
            <select class="completionexpectedyear custom-select roadmap-form-control-step">
                {{#years}}
                    <option value="{{val}}" {{#sel}}selected{{/sel}}>{{txt}}</option>
                {{/years}}
            </select>
        </span>
    </div>
    &nbsp;
    <div class="form-group fitem">
        <label class="col-form-label sr-only">
            Hour
        </label>
        <span data-fieldtype="select">
            <select class="completionexpectedhour custom-select roadmap-form-control-step">
                {{#hours}}
                    <option value="{{val}}" {{#sel}}selected{{/sel}}>{{txt}}</option>
                {{/hours}}
            </select>
        </span>
    </div>
    &nbsp;
    <div class="form-group fitem">
        <label class="col-form-label sr-only">
            Minute
        </label>
        <span data-fieldtype="select">
            <select class="completionexpectedminute custom-select roadmap-form-control-step">
                {{#minutes}}
                    <option value="{{val}}" {{#sel}}selected{{/sel}}>{{txt}}</option>
                {{/minutes}}
            </select>
        </span>
    </div>
    &nbsp;
    <a href="#" id="" style=""><i class="icon fa fa-calendar fa-fw " title="Calendar" aria-label="Calendar"></i></a>
    &nbsp;
    <label class="form-check fitem">
        <input type="checkbox" class="form-check-input completionexpected roadmap-form-control-step" value="1" {{#expectedcomplete}}checked{{/expectedcomplete}}>
        Enable
    </label>
</div>