{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_roadmap/configuration_step

    This template includes ajax functionality, so it cannot be shown in the template library.

    Example context (json):
    {
        "id": "1",
        "rollovertext": "Hover Text",
        "stepicon": "icon-1",
        "pagelink": "http://ncsu.edu",
        "completionmodules": "1,2,3",
        "configuration": "jsonData"
    }
}}
<div data-stepid="{{ id }}" class="step-wrapper">
    <div class="row">
        <div class="step-controls">
            <a class="step-collapse-control">{{# pix }} t/collapsed, moodle, Expand {{/ pix }}</a>
            <a class="step-up-control" onclick="return false;">{{# pix }} t/up, core, Up {{/ pix }}</a>
            <a class="step-down-control" onclick="return false;">{{# pix }} t/down, core, Down {{/ pix }}</a>
            <a class="step-delete-control" onclick="return false;">{{# pix }} t/delete, core, Delete {{/ pix }}</a>
        </div>
        <div class="step-header-title">{{# rollovertext }} {{ rollovertext }} {{/ rollovertext }} {{^ rollovertext }} Untitled Step {{/ rollovertext }}</div>
    </div>
    <div class="hide step-container" aria-expanded="true">
        <div class="form-group row fitem">
            <div class="col-md-3 col-form-label">Rollover Text</div>
            <div class="col-md-9 form-inline"><input class="step-rollovertext form-control roadmap-form-control-step" type="text" value="{{ rollovertext }}"></div>
        </div>
        <div class="form-group row fitem step-icon-container">
            <div class="col-md-3 form-inline">
                <button type="button" id="step-{{ id }}-btn-icon-selector" class="btn_icon_selector btn btn-secondary" data-stepid="{{ id }}">Select Icon for Step</button>
            </div>
            <div class="col-md-9 col-form-label step-icon-display">
                {{# pix }} icons/{{ stepicon }} , mod_roadmap, {{ stepicon }}  {{/ pix }}
                <input class="step-icon roadmap-form-control-step" name="step-{{ id }}-icon" type="hidden" value="{{ stepicon }}" />
            </div>
        </div>
        <div class="form-group row fitem step-activity-container">
            <div class="col-md-3 form-inline">
                <button type="button" id="step-{{ id }}-btn-completion-selector" class="btn_completion_selector btn btn-secondary" data-stepid="{{ id }}">Select Activity or Activities</button>
            </div>
            <div class="col-md-9 col-form-label">Completion tied to activities:
                <ul id="step-{{ id }}-completion-list" class="step-completion-list"></ul>
                <input id="step-{{ id }}-completion-modules" class="step-completion-modules form-control roadmap-form-control-step" data-stepid="{{ id }}" type="hidden" value="{{ completionmodules }}" />
            </div>
        </div>
        <div class="form-group row fitem">
            <div class="col-form-label">
                <input type="checkbox" data-stepid="{{ id }}" id="step-{{ id }}-chk-single-activity-link" class="chk-single-activity-link roadmap-form-control-step" value="1" {{#linksingleactivity}}checked{{/linksingleactivity}}>
                If completion is tied to a single activity, also link to that activity</div>
        </div>
        <div class="form-group row fitem">
            <div class="col-md-3 col-form-label">Link to Page</div>
            <div class="col-md-9 form-inline"><input id="step-{{ id }}-single-activity-link" class="step-single-activity-link form-control roadmap-form-control-step" type="text" value="{{ pagelink }}" ></div>
        </div>
        <div class="form-group row fitem">
            <div class="col-md-3 col-form-label">Expected completed on</div>
            <div class="col-md-9 form-inline datetimepicker_container">{{> mod_roadmap/configuration_datetimepicker }}</div>
        </div>
        <input class="step-configuration" type="hidden" value="{{ configuration }}">
    </div>
</div>
