{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_roadmap/configuration_phases

    This template includes ajax functionality, so it cannot be shown in the template library.

    Example context (json):
    {
        "phases": [{
            "id": "1",
            "index": "0",
            "title": "Phase Title",
            "configuration": "jsonData",
            "cycles": [{
                "title": "Cycle Title",
                "pagelink": "http://ncsu.edu",
                "subtitle": "Cycle Subtitle",
                "steps": [{
                    "id": "1",
                    "rollovertext": "Hover Text",
                    "stepicon": "icon-1",
                    "pagelink": "http://ncsu.edu",
                    "completionmodules": "1,2,3",
                    "configuration": "jsonData"
                }],
                "learningobjectives": "1, 2, 3"
            }]
        }]
    }
}}
<div class="phase-container-controls">
    <strong>Phases</strong>
    <a href="#" data-action="add_phase" onclick="return false;" ><i class="fa-solid fa-plus"></i> Add</a>
    <a href="#" data-action="collapse_all_phases" onclick="return false;"><i class="fa-solid fa-angles-up"></i> Collapse</a>
    <a href="#" data-action="expand_all_phases" onclick="return false;"><i class="fa-solid fa-angles-down"></i> Expand</a>
</div>
<div id="phase-container">
    {{# phases }}
        {{> mod_roadmap/configuration_phase }}
    {{/ phases }}
</div>
<div>
    <input id="phase-deletes" type="hidden" value="">
    <input id="cycle-deletes" type="hidden" value="">
    <input id="step-deletes" type="hidden" value="">
</div>