{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_roadmap/configuration_phases

    This template includes ajax functionality, so it cannot be shown in the template library.

    Example context (json):
    {
    	"phases": [{
    		"id": "1",
    		"title": "Phase Title",
    	    "color": "#000000",
    		"cycles": [{
                "id": "1",
                "index": "0",
                "title": "Cycle Title",
                "subtitle": "Cycle Sub Title",
                "pagelink": "http://ncsu.edu",
                "indicatorcolor": "#000000",
                "steps": [{
                    "id": "1",
                    "rollovertext": "Hover Text",
                    "stepicon": "icon-1",
                    "pagelink": "http://ncsu.edu",
                    "iconurl": "http://localhost/mod/roadmap/icon.php?name=icon-1",
                    "completionmodules": "1,2,3",
                    "configuration": "jsonData"
                }],
                "learningobjectives": "1, 2, 3"
    		}]
    	}]
    }
}}
<div id="roadmap-phase-container">
    {{# phases }}
        {{> mod_roadmap/view_phase }}
    {{/ phases }}
</div>