<div class="roadmap-phase" style="border-left-color: {{ color }};">
    <h2 class="roadmap-phase-title" data-state="open" style="color: {{ color }};">
        {{ title }}
        <div class="roadmap-phase-progress-indicators" style="display: none;">
            {{# cycles }}
                <span class="roadmap-phase-progress-indicator" style="background-color: {{ indicatorcolor }};" data-color="{{ indicatorcolor }}" data-cycle-pos="0"></span>
            {{/ cycles }}
        </div>
    </h2>
    <div class="roadmap-cycle-container">
        {{# cycles }}
            {{> mod_roadmap/view_cycle }}
        {{/ cycles }}
    </div>
</div>
<style>
    .step-icon-{{ id }} .roadmap-background-circle { 
        fill:{{ color }}; 
    }
    .step-icon-{{ id }} .roadmap-circle-progress {
        stroke: {{ color }};
    }
</style>